<!-- hero section -->
<!-- <section id="hero">
  <div class="form">
    <app-flight-booking></app-flight-booking>
  </div>
</section> -->

<section id="hero">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item item-one active"></div>
      <div class="carousel-item item-two"></div>
      <div class="carousel-item item-three"></div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!--  -->
  <div class="form">
    <app-flight-booking></app-flight-booking>
  </div>
</section>

<!-- card section -->
<section id="card" class="my-5">
  <div class="container my-4">
    <h6 class="my-2">Find out more insights</h6>
    <h1 class="my-2">Why choose us ?</h1>
  </div>

  <div class="container">
    <div class="row d-flex">
      <div class="col-lg-3 mt-md-3 col-md-6">
        <div class="insight-card text-center">
          <div class="card-details">
            <span class="">
              <img src="assets/icons/airplane 1.png" alt="" />
            </span>
            <p class="text-title">Easy Booking</p>
            <p class="text-body">Here are the details of the card</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 mt-md-3 col-md-6 sm-12">
        <div class="insight-card text-center">
          <div class="card-details">
            <span class="">
              <img src="assets/icons/special-tag 1.png" alt="" />
            </span>
            <p class="text-title">Best Fare</p>
            <p class="text-body">Here are the details of the card</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 mt-md-3 col-md-6 sm-12">
        <div class="insight-card text-center">
          <div class="card-details">
            <span>
              <img src="assets/icons/special-tag 1.png" alt="" />
            </span>
            <p class="text-title">Exciting Deals</p>

            <p class="text-body">Here are the details of the card</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 mt-md-3 col-md-6 sm-12">
        <div class="insight-card text-center">
          <div class="card-details">
            <span>
              <img src="assets/icons/special-tag 1.png" alt="" />
            </span>
            <p class="text-title">24/7 Support</p>

            <p class="text-body">Here are the details of the card</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- avail offers -->
<section id="offers" class="p-3">
  <div class="container my-4">
    <h6 class="my-2">Avail Offers*</h6>
    <h1 class="my-2">Latest Offers</h1>
  </div>

  <div class="container my-3">
    <div class="row">
      <div class="col-lg-6 col-md-6 p-2">
        <div class="offer-card border">
          <div class="img"></div>
          <div class="textBox">
            <div class="textContent p-3">
              <p>Domestic Flights</p>
              <h5 class="">Huge savings on flights with KTT</h5>
              <p class="span">Book domestic flights starting just $1459</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 p-2">
        <div class="offer-card border">
          <div class="img"></div>
          <div class="textBox">
            <div class="textContent p-3">
              <p>International Flights</p>
              <h5>Huge savings on flights with KTT</h5>
              <p class="span">Book domestic flights starting just $1459</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- travel blogs -->
<section id="travel-blogs" class="my-5">
  <div class="container my-4">
    <h6 class="my-2">Find out more insights</h6>
    <h1 class="my-2">Latest Blogs of Travel</h1>
  </div>

  <div class="container">
    <div class="row d-flex justify-content-between g-3">
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <img
            class="card-img-top"
            src="assets/images/blog-1.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <span class="sub-text">Holiday Planning</span>
            <span class="five-mins">5 mins read </span>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="card-link">Read More</a>
            <span>
              <img src="assets/icons/chevron-right.png" alt="" />
            </span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card">
          <img
            class="card-img-top"
            src="assets/images/blog-2.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <span class="sub-text">Holiday Planning</span>
            <span class="five-mins">5 mins read </span>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="card-link">Read More</a>
            <span>
              <img src="assets/icons/chevron-right.png" alt="" />
            </span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card">
          <img
            class="card-img-top"
            src="assets/images/blog-3.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <span class="sub-text">Holiday Planning</span>
            <span class="five-mins">5 mins read </span>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="card-link">Read More</a>
            <span>
              <img src="assets/icons/chevron-right.png" alt="" />
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="app-banner" class="">
  <img width="100%" src="assets/images/mobile-app-banner.png" alt="" />
</section>

<section id="cta" class="">
  <div>
    <img width="100%" src="/assets/images/cta-take-flight.png" alt="" />
  </div>
</section>

<!-- <p>landing works!</p> -->
