.main {
  background: white;
  border-radius: 6px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  font-size: 18px;
  font-family: var(--poppins);
}
.err-msg {
  font-size: 14px;
}
.active {
  background-color: var(--primary) !important

}

input[type=button]:focus {
  background-color: var(--primary);
  color: white;
}

.btn-continue {
  background-color: var(--primary);
}